<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matheusfroes.gamerguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.EscolherPlataformasActivity" />
        <activity
            android:name=".activities.TelaPrincipalActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConfiguracoesFeedActivity"
            android:label="@string/configuracoes_feed"
            android:parentActivityName=".activities.TelaPrincipalActivity" />
        <activity
            android:name=".activities.AdicionarJogosActivity"
            android:label="@string/adicionar_jogos"
            android:parentActivityName=".activities.TelaPrincipalActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.DetalhesJogoActivity"
            android:label="@string/title_activity_detalhes_jogo"
            android:parentActivityName=".activities.TelaPrincipalActivity"
            android:theme="@style/AppTheme.DetalhesJogo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matheusfroes.gamerguide.activities.TelaPrincipalActivity" />
        </activity>
        <activity
            android:name=".activities.DetalhesListaActivity"
            android:parentActivityName=".activities.TelaPrincipalActivity" />
    </application>

</manifest>