<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matheusfroes.gamerguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GamerGuideApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.feed.ConfiguracoesFeedActivity"
            android:label="@string/configuracoes_feed"
            android:parentActivityName=".ui.feed.FeedActivity" />
        <activity
            android:name=".ui.addgames.AddGamesActivity"
            android:label="@string/adicionar_jogos"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.mygames.MeusJogosActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.gamedetail.DetalhesJogoActivity"
            android:label="@string/title_activity_detalhes_jogo"
            android:theme="@style/AppTheme.DetalhesJogo" />
        <activity
            android:name=".ui.gamelists.DetalhesListaActivity"
            android:parentActivityName=".ui.gamelists.ListasActivity" />
        <activity
            android:name=".ui.addgames.CapaJogoTelaCheiaActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ui.BaseActivityDrawer" />
        <activity
            android:name=".ui.feed.FeedActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.gamelists.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.statistics.EstatisticasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.calendar.CalendarioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mygames.MeusJogosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.BaseActivity" />
        <activity
            android:name=".ui.settings.ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes"
            android:theme="@style/ConfiguracoesTheme" />
        <activity
            android:name=".ui.intro.IntroducaoActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>