<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matheusfroes.gamerguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".GamerGuideApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.feed.ConfiguracoesFeedActivity"
            android:label="@string/configuracoes_feed"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.adicionarjogos.AdicionarJogosActivity"
            android:label="@string/adicionar_jogos"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.detalhesjogo.DetalhesJogoActivity"
            android:label="@string/title_activity_detalhes_jogo"
            android:theme="@style/AppTheme.DetalhesJogo" />

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".ui.gamelists.GameListDetailsActivity" />

        <activity
            android:name=".ui.adicionarjogos.CapaJogoTelaCheiaActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ui.BaseActivityDrawer" />

        <activity
            android:name=".ui.configuracoes.ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes"
            android:theme="@style/ConfiguracoesTheme" />
        <activity
            android:name=".ui.intro.IntroducaoActivity"
            android:theme="@style/Theme.Intro" />

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>